<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Properties>
        <!--<Property name="baseDir">/opt/web/ptyhcp_dwf_dj_58_sales/dwf/log/dj-58-sales</Property>-->
        <Property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <!--<Property name="fileName">${baseDir}/dj_58_sales.log</Property>-->
        <!--<Property name="filePatternName">${baseDir}/dj_58_sales.%d{yyyy-MM-dd}.log.gz</Property>-->
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd HH-mm}.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <!--<SizeBasedTriggeringPolicy size="500MB"/>-->
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>